<div class="container">
  <div id="basicExample">
    <%= User.find_each(batch_size: 10) do |u| %>
        <a href="<%= u.avatar.url %>" rel="gallery1">
          <img alt="<%= u.name %>" src="<%= u.avatar.url %>" />
        </a>
    <% end %>
  </div>
</div>



<script>
    $('#basicExample').justifiedGallery({
        lastRow : 'hide',
        rowHeight : 130,
        rel : 'gallery1',
        margins : 5,
        randomize: true
    }).on('jg.complete', function () {
        $(this).find('a').colorbox({
            maxWidth : '80%',
            maxHeight : '80%',
            opacity : 0.8,
            transition : 'elastic',
            current : ''
        });
    });
</script>