<%= simple_form_for @user, html: {id: 'upavatar'} do |f| %>
    <h4 class="info">Me</h4>
    <div class="avatar-container">
      <div class="avatar">
        <%= image_tag(@user.avatar.url(:processors)) %>
        <%= f.input :avatar, label: false%>
      </div>
      <h5>选择头像</h5>
    </div>
<% end %>